/* Add your custom extension styling here */

.invisible {
	/*border:  1px solid magenta;*/
	color:  rgba(255,0,255,0);
}

.hi {
	border:  1px solid magenta;
}

  #dashtodockContainer.bottom #dash .dash-item-container .app-well-app.focused .overview-icon {
    background-color: rgba(238, 238, 236, 0.08) !important; }